#div_header{
    margin-left: 0;
    margin-right: 0;
    background-color: black;
    height: 15rem;
}

#div_header h1{
    padding-top: 6rem;
    color: white;
    text-align: center;

    transition: letter-spacing 3s;
}

h1:hover{
    letter-spacing: 2rem;
}

.left-container{
    background-color: gray;
    padding-bottom: 1rem;
}

.right-container{
    background-color: lightgray;
    padding-bottom: 1rem;
}

.background-container{
    height: 400px;
    background: url("../resources/images/food.jpg") no-repeat;
    background-size: cover;
}

input, select{
    margin-bottom: 1rem;
}

label{
    font-weight: 600;
}

img{
    max-width: 80%;
    max-height: 50%;
    border-radius: 50%;

    transition: border-radius 1.5s;
}

#recipeThumbnail{
    margin-top: 8rem;
    max-width: 100%;
    max-height: 100%;
}

#firstCol h4{
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    transition: background-color 1.5;
}

#secondCol h4{
    margin-top: 2rem;
    margin-bottom: 0.5rem;

    transition: background-color 1.5;
}

#firstCol img:hover, #secondCol img:hover{
    transition: border-radius 1.5s;
    cursor: grab;
    border-radius: 20%;
}

#firstCol h4:hover, #secondCol h4:hover{
    font-weight: 700;
    cursor: grab;
}

p{
    hyphens: auto; 
	text-align: justify;
    font-size: 1.1rem;
}

li{
    font-size: 1.1rem;
}

#sayingText, #sayingAuthor, #notFoundText{
    margin-top: 5rem;
    hyphens: auto; 
	text-align: justify;
    font-size: 3rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sayingAuthor{
    text-align: right;
    font-style: italic;
    font-size: 2rem;
    margin-top: 11rem;
}

.alert-danger {
    margin-top: 0.5rem;
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }