div{
    margin-bottom: 5rem;
}

#div-header{
    margin-left: 0;
    margin-right: 0;
}

.list-group{
    margin-bottom: 3.5rem;
}

.container{
    padding-left:0;
}

#div_header{
    background-color: black;
    height: 10rem;
}

#div_header h1{
    padding-top: 3.5rem;
    color: white;
    text-align: center;
}